.auth-form {
    height: 75vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.auth-form__subtitle {
    opacity: 0.4;
}